<link rel="stylesheet" type="text/css" href="__PUBLIC__/backcss/productClass.css" />
<div id="productClassAddDiv">
	<form id="productClassAddForm" enctype="multipart/form-data"  method="post">
		<div>
			<span class="label">商品类别名称:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="productClass_productClassName" name="productClass_productClassName" style="width:200px" />

			</span>

		</div>
		<div class="operation">
			<a id="productClassAddButton" class="easyui-linkbutton">添加</a>
			<a id="productClassClearButton" class="easyui-linkbutton">重填</a>
		</div> 
	</form>
</div>
<script> var backURL = "__PUBLIC__/index.php/back/";</script>
<script src="__PUBLIC__/backjs/productClass/productClass_add.js"></script>
