<link rel="stylesheet" type="text/css" href="__PUBLIC__/backcss/supplyer.css" />
<div id="supplyer_editDiv">
	<form id="supplyerEditForm" enctype="multipart/form-data"  method="post">
		<div>
			<span class="label">供应商编号:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="supplyer_supplyerId_edit" name="supplyer_supplyerId" value="{$supplyerId}" style="width:200px" />
			</span>
		</div>

		<div>
			<span class="label">供应商名称:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="supplyer_supplyerName_edit" name="supplyer_supplyerName" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">供应商电话:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="supplyer_telephone_edit" name="supplyer_telephone" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">联系人:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="supplyer_personName_edit" name="supplyer_personName" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">供应商地址:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="supplyer_address_edit" name="supplyer_address" style="width:200px" />

			</span>

		</div>
		<div class="operation">
			<a id="supplyerModifyButton" class="easyui-linkbutton">更新</a> 
		</div>
	</form>
</div>
<script>
	var publicURL = "__PUBLIC__/";
	var backURL = "__PUBLIC__/index.php/back/";
</script>
<script src="__PUBLIC__/backjs/supplyer/supplyer_modify.js"></script>

